<template>
  <div class="confirm_container">
    <div class="confirm_place Lock_place">
      <div class="confirm_place_content">
        <div class="confirm_content">
          <div class="confirm_logo">
            <img alt="logo" src="../../images/Authentication/Logo.png" >
            <h2>Hope Ui</h2>
          </div>
          <div class="email_container">
            <h1 class="lock_austin">Reset Password</h1>
            <p class="lock_text">Enter your email address and we'll send you an email with instructions to reset your password</p>
          </div>
          <div class="confirm_btn Lock_btn">
            <my-input type="email" v-model="user.email">Email</my-input>
            <div class="lock_container_button">
              <router-link to="/Email-users"><my-button class="lock_button">Reset</my-button></router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="confirm_print print">

    </div>
  </div>
</template>

<script>

export default {
  name: "Confirm_users",
  data(){
    return{
      user:{
        email: '',
        emailUser: ''
      }
    }
  },
  methods:{
    saveEmail(event){

      alert(event.target.value);
      console.log(event.target.value)
    }
  }
}
</script>

<style scoped>

</style>