<template>
  <div class="gen_container">
    <div class="gen_place reg_place">
      <div class="gen_place_content ">
        <div class="gen_content">
          <div class="gen_logo">
            <img alt="logo" src="../../images/Authentication/Logo.png" >
            <h2>Hope Ui</h2>
          </div>
          <div class="email_container">
            <div class="email_icon">
            <img  alt="Okey" src="../../images/Authentication/Group_okey.png">
            </div>
            <h1 class="email_success">Success !</h1>
            <p class="email_text">A email has been send to your email@domain.com. Please check for an email from company and click on the included link to reset your password.</p>
          </div>
          <div class="gen_btn">
            <my-button>Back to home</my-button>
          </div>
        </div>
      </div>
    </div>
    <div class="reg_print print">

    </div>
  </div>
</template>

<script>
export default {
  name: "Email_users"
}
</script>

<style scoped>

</style>