<template>
  <div class="gen_container">
    <div class="gen_place Lock_place">
      <div class="gen_place_content ">
        <div class="gen_content">
          <div class="gen_logo">
            <img alt="logo" src="../../images/Authentication/Logo.png" >
            <h2>Hope Ui</h2>
          </div>
          <div class="email_container">
            <div class="email_icon">
              <img  alt="Okey" src="../../images/Authentication/Lock_min%201.png">
            </div>
            <h1 class="lock_austin">Hi ! Austin Robertson</h1>
            <p class="lock_text">Enter your password to access the admin.</p>
          </div>
          <div class="gen_btn Lock_btn">
            <my-input>Password</my-input>
            <div class="lock_container_button">
            <my-button class="lock_button">Login</my-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lock_screen_print print">

    </div>
  </div>
</template>

<script>
export default {
  name: "Lock_screen_users",
  components: {}

}
</script>

<style scoped>

</style>