<template>
<div class="gen_container">
  <div class="reg_print print">

  </div>
  <div class="gen_place reg_place">
    <div class="gen_place_content ">
      <div class="gen_content">
        <div class="gen_logo">
          <img alt="logo" src="../../images/Authentication/Logo.png" >
          <h2>Hope Ui</h2>
        </div>
        <h1 class="gen_text_ali gen_sign">Sign In</h1>
        <p class="gen_text_ali gen_connected">Sign in to stay connected</p>
        <div class="gen_input reg_input_form">
          <div class="reg_input">
            <my-input>First Name</my-input>
            <my-input>Email</my-input>
            <my-input>Password</my-input>
          </div>
          <div class="reg_input">
            <my-input>Last Name</my-input>
            <my-input>Phone No.</my-input>
            <my-input>Confirm Password</my-input>
          </div>
        </div>
        <div class="gen_rem">
          <label class="gen_remember">
            <input width="16px"  type="checkbox" >
            <p>Remember me?</p>
          </label>
          <a href="">Forgot Password</a>
        </div>
        <div class="gen_btn">
          <my-button>Sign In</my-button>
        </div>
        <p class="gen_sign_in_with">or sign in with other accounts?</p>
        <div class="gen_login_icons">
          <div class="gen_container_icons_login">
            <a href="https://www.google.com/intl/ru/gmail/about/"><img alt="Gmail" src="../../images/Authentication/Gmail.png"></a>
            <a href="https://www.facebook.com/?locale=ru_RU"> <img alt="Facebook" src="../../images/Authentication/Facebook.png"></a>
            <a href="https://www.instagram.com/"> <img alt="Instagram" src="../../images/Authentication/Instagram.png"></a>
            <a href="https://ru.linkedin.com/"> <img alt="Linkedin" src="../../images/Authentication/Linkedin.png"></a>
          </div>
        </div>
        <p class="gen_dont_have_login">Don't have an account? <a href="">Click here to sign up</a></p>
      </div>
    </div>
  </div>
</div>
</template>

<script>



import MyInput from "@/components/UI/My-Input";
export default {
  name: "register-users",
  components: {
    MyInput

  }
}
</script>

<style scoped>

</style>