.confirm_print {
  width: 50%;
  background-image: url(../images/Authentication/log_Graphic_Side.svg);
  background-size: cover;
}

.confirm_container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.confirm_container .confirm_place {
  width: 50%;
  background-color: white;
}
.confirm_container .confirm_place .confirm_place_content {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  padding-top: 234px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content {
  align-content: center;
  width: 50%;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .confirm_logo {
  display: flex;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_sign {
  font-size: 33px;
  font-weight: 600;
  line-height: 43px;
  margin-top: 40px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_connected {
  color: #8A92A6;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_text_ali {
  text-align: center;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_input {
  margin-top: 16px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_rem {
  display: flex;
  justify-content: space-between;
  color: #8A92A6;
  margin-top: 16px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_rem .gen_remember {
  display: flex;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .confirm_btn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_sign_in_with {
  text-align: center;
  margin-top: 16px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_login_icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_login_icons .gen_container_icons_login {
  display: flex;
  justify-content: space-between;
  width: 188px;
}
.confirm_container .confirm_place .confirm_place_content .confirm_content .gen_dont_have_login {
  text-align: center;
  margin-top: 16px;
}
.confirm_container .confirm_place .confirm_place_content h2 {
  margin: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 33px;
  line-height: 42px;
}
.confirm_container .login_print {
  width: 50%;
  background-image: url(../images/Authentication/log_Graphic_Side.svg);
  background-size: cover;
}

/*# sourceMappingURL=Confirm.css.map */
