.email_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email_container .email_icon {
  width: 20%;
  margin-top: 40px;
}
.email_container .email_success {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #0048B2;
  text-align: center;
  margin-top: 24px;
}
.email_container .email_text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 32px;
}

/*# sourceMappingURL=Email.css.map */
