.my_input {
  width: 100%;
  margin-top: 16px;
}
.my_input .header_input {
  color: #8A92A6;
  font-family: Inter, serif;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.my_input .style-input {
  margin-top: 8px;
  border: 1px solid #3A57E8;
  border-radius: 3px;
  width: 100%;
  height: 44px;
}

.my_btn {
  border-radius: 4px;
  background-color: #3A57E8;
  width: 188px;
  height: 44px;
  color: white;
}
.my_btn .font_btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

a {
  color: #3A57E8;
}

.login_place {
  background-image: url(../images/Authentication/Frame_453.svg);
  background-size: 40%;
  background-repeat: no-repeat;
}

.reg_place {
  background-image: url(../images/Authentication/reg_Logo.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: right;
}

/*# sourceMappingURL=general.css.map */
