

$textGray: #8A92A6;


//стили кастомного инпута

.my_input {
  width: 100%;
  margin-top: 16px;

  .header_input {
    color: #8A92A6;
    font-family: Inter, serif;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }

  .style-input {
    margin-top: 8px;
    border: 1px solid #3A57E8;
    border-radius: 3px;
    width: 100%;
    height: 44px;
  }
}

//стиль кнопки

.my_btn{
  border-radius: 4px;
  background-color: #3A57E8;
  width: 188px;
  height: 44px;
  color: white;
  .font_btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
}

//цвет ссылок

a{
  color: #3A57E8;
}

//принт в углу экрана

.login_place{
  background-image: url(../images/Authentication/Frame_453.svg);
  background-size: 40%;
  background-repeat: no-repeat;
}

.reg_place{
  background-image: url(../images/Authentication/reg_Logo.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: right;
}



