




/* Large desktops and laptops */
@media (min-width: 1200px) {
  .gen_container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    .gen_place{
      width: 50%;
      background-color: white;




      .gen_place_content {
        display: flex;
        justify-content: center;
        padding-top: 234px;

        .gen_content {
          align-content: center;
          width: 50%;

          .gen_logo {
            display: flex;
          }

          .gen_sign {
            font-size: 33px;
            font-weight: 600;
            line-height: 43px;
            margin-top: 40px;
          }

          .gen_connected {
            color: #8A92A6;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 16px;
          }

          .gen_text_ali {
            text-align: center;
          }

          .gen_input {
            margin-top: 16px;
          }

          .gen_rem {
            display: flex;
            justify-content: space-between;
            color: #8A92A6;
            margin-top: 16px;

            .gen_remember {
              display: flex;
            }
          }
          .gen_btn{
            display: flex;
            justify-content: center;
            margin-top: 24px;
          }
          .gen_sign_in_with{
            text-align: center;
            margin-top: 16px;
          }
          .gen_login_icons{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 16px;
            .gen_container_icons_login{
              display: flex;
              justify-content: space-between;
              width: 188px;
            }
          }
          .gen_dont_have_login{
            text-align: center;
            margin-top: 16px;
          }
        }

        h2 {
          margin: 0;
          font-family: Inter;
          font-weight: 400;
          font-size: 33px;
          line-height: 42px;
        }
      }
    }
    .login_print {
      width: 50%;
      background-image: url(../images/Authentication/log_Graphic_Side.svg);
      background-size: cover;
    }
  }
}

/* Portrait tablets and medium desktops -------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
  .gen_container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
    .gen_place{
      width: 80%;
      background-color: white;



      .gen_place_content {
        display: flex;
        justify-content: center;
        padding-top: 234px;

        .gen_content {
          align-content: center;
          width: 50%;

          .gen_logo {
            display: flex;
          }

          .gen_sign {
            font-size: 33px;
            font-weight: 600;
            line-height: 43px;
            margin-top: 40px;
          }

          .gen_connected {
            color: #8A92A6;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 16px;
          }

          .gen_text_ali {
            text-align: center;
          }

          .gen_input {
            margin-top: 16px;
          }

          .gen_rem {
            display: flex;
            justify-content: space-between;
            color: #8A92A6;
            margin-top: 16px;

            .gen_remember {
              display: flex;
            }
          }
          .gen_btn{
            display: flex;
            justify-content: center;
            margin-top: 24px;
          }
          .gen_sign_in_with{
            text-align: center;
            margin-top: 16px;
          }
          .gen_login_icons{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 16px;
            .gen_container_icons_login{
              display: flex;
              justify-content: space-between;
              width: 188px;
            }
          }
          .gen_dont_have_login{
            text-align: center;
            margin-top: 16px;
          }
        }

        h2 {
          margin: 0;
          font-family: Inter;
          font-weight: 400;
          font-size: 33px;
          line-height: 42px;
        }
      }
    }
    .login_print {
      width: 50%;
      background-image: url(../images/Authentication/log_Graphic_Side.svg);
      background-size: cover;
    }
  }
}

/* Portrait tablets and small desktops -------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {



  .gen_container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
    .gen_place{
      width: 100%;
      background-color: white;



      .gen_place_content {
        display: flex;
        justify-content: center;
        padding-top: 234px;

        .gen_content {
          align-content: center;
          width: 60%;

          .gen_logo {
            display: flex;
          }

          .gen_sign {
            font-size: 33px;
            font-weight: 600;
            line-height: 43px;
            margin-top: 40px;
          }

          .gen_connected {
            color: #8A92A6;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 16px;
          }

          .gen_text_ali {
            text-align: center;
          }

          .gen_input {
            margin-top: 16px;
          }

          .gen_rem {
            display: flex;
            justify-content: space-between;
            color: #8A92A6;
            margin-top: 16px;

            .gen_remember {
              display: flex;
            }
          }
          .gen_btn{
            display: flex;
            justify-content: center;
            margin-top: 24px;
          }
          .gen_sign_in_with{
            text-align: center;
            margin-top: 16px;
          }
          .gen_login_icons{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 16px;
            .gen_container_icons_login{
              display: flex;
              justify-content: space-between;
              width: 188px;
            }
          }
          .gen_dont_have_login{
            text-align: center;
            margin-top: 16px;
          }
        }

        h2 {
          margin: 0;
          font-family: Inter;
          font-weight: 400;
          font-size: 33px;
          line-height: 42px;
        }
      }
    }
    .login_print {
      width: 0;

    }
  }


}

/* Landscape phones and portrait tablets -------------------------------------------------------------*/
@media (max-width: 767px) {
  // общий стиль позиционирования

  .gen_container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    .gen_place{
      width: 100%;
      background-color: white;




      .gen_place_content {
        display: flex;
        justify-content: center;
        padding-top: 234px;

        .gen_content {
          align-content: center;
          width: 60%;

          .gen_logo {
            display: flex;
          }

          .gen_sign {
            font-size: 33px;
            font-weight: 600;
            line-height: 43px;
            margin-top: 40px;
          }

          .gen_connected {
            color: #8A92A6;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 16px;
          }

          .gen_text_ali {
            text-align: center;
          }

          .gen_input {
            margin-top: 16px;
          }

          .gen_rem {
            display: flex;
            justify-content: space-between;
            color: #8A92A6;
            margin-top: 16px;

            .gen_remember {
              display: flex;
            }
          }
          .gen_btn{
            display: flex;
            justify-content: center;
            margin-top: 24px;
          }
          .gen_sign_in_with{
            text-align: center;
            margin-top: 16px;
          }
          .gen_login_icons{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 16px;
            .gen_container_icons_login{
              display: flex;
              justify-content: space-between;
              width: 188px;
            }
          }
          .gen_dont_have_login{
            text-align: center;
            margin-top: 16px;
          }
        }

        h2 {
          margin: 0;
          font-family: Inter;
          font-weight: 400;
          font-size: 33px;
          line-height: 42px;
        }
      }
    }
    .login_print {
      width: 0;

    }
  }

}

/* Landscape phones and smaller -------------------------------------------------------------*/
@media (max-width: 480px) {



  .gen_container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    .gen_place{
      width: 100%;
      background-color: white;



      .gen_place_content {
        display: flex;
        justify-content: center;
        padding-top: 234px;

        .gen_content {
          align-content: center;
          width: 60%;

          .gen_logo {
            display: flex;
          }

          .gen_sign {
            font-size: 33px;
            font-weight: 600;
            line-height: 43px;
            margin-top: 40px;
          }

          .gen_connected {
            color: #8A92A6;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 16px;
          }

          .gen_text_ali {
            text-align: center;
          }

          .gen_input {
            margin-top: 16px;
          }

          .gen_rem {
            display: flex;
            justify-content: space-between;
            color: #8A92A6;
            margin-top: 16px;

            .gen_remember {
              display: flex;
            }
          }
          .gen_btn{
            display: flex;
            justify-content: center;
            margin-top: 24px;
          }
          .gen_sign_in_with{
            text-align: center;
            margin-top: 16px;
          }
          .gen_login_icons{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 16px;
            .gen_container_icons_login{
              display: flex;
              justify-content: space-between;
              width: 188px;
            }
          }
          .gen_dont_have_login{
            text-align: center;
            margin-top: 16px;
          }
        }

        h2 {
          margin: 0;
          font-family: Inter;
          font-weight: 400;
          font-size: 33px;
          line-height: 42px;
        }
      }
    }
    .login_print {
      width: 0;
    }
  }





//По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую:

@media (max-width: 650px) {

}
}