

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .lock_screen_print{
    width: 66%;
    background-image: url(../images/Authentication/Lock_screen_Graphics.svg);
    background-size: cover;
  }
  .Lock_place {
    width: 100%;
    background-color: white;
    background-position: top left;

    background-image: url(../images/Authentication/Lock_screen_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
  .Lock_btn{
    flex-direction: column;
    align-items: center;
  }
  .lock_container_button{
    align-content: center;
  }
  .lock_button{
    margin-top: 32px;
  }
  .lock_austin{
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
  }
  .lock_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8A92A6;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .lock_screen_print{
    width: 66%;
    background-image: url(../images/Authentication/Lock_screen_Graphics.svg);
    background-size: cover;
  }
  .Lock_place {
    width: 100%;
    background-color: white;
    background-position: top left;

    background-image: url(../images/Authentication/Lock_screen_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
  .Lock_btn{
    flex-direction: column;
    align-items: center;
  }
  .lock_container_button{
    align-content: center;
  }
  .lock_button{
    margin-top: 32px;
  }
  .lock_austin{
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
  }
  .lock_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8A92A6;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .lock_screen_print{
    width: 0%;
    background-image: url(../images/Authentication/Lock_screen_Graphics.svg);
    background-size: cover;
  }
  .Lock_place {
    width: 100%;
    background-color: white;
    background-position: top left;

    background-image: url(../images/Authentication/Lock_screen_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
  .Lock_btn{
    flex-direction: column;
    align-items: center;
  }
  .lock_container_button{
    align-content: center;
  }
  .lock_button{
    margin-top: 32px;
  }
  .lock_austin{
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
  }
  .lock_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8A92A6;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .lock_screen_print{
    width: 0%;
    background-image: url(../images/Authentication/Lock_screen_Graphics.svg);
    background-size: cover;
  }
  .Lock_place {
    width: 100%;
    background-color: white;
    background-position: top left;

    background-image: url(../images/Authentication/Lock_screen_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
  .Lock_btn{
    flex-direction: column;
    align-items: center;
  }
  .lock_container_button{
    align-content: center;
  }
  .lock_button{
    margin-top: 32px;
  }
  .lock_austin{
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
  }
  .lock_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8A92A6;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .lock_screen_print{
    width: 0%;
    background-image: url(../images/Authentication/Lock_screen_Graphics.svg);
    background-size: cover;
  }
  .Lock_place {
    width: 100%;
    background-color: white;
    background-position: top left;

    background-image: url(../images/Authentication/Lock_screen_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
  .Lock_btn{
    flex-direction: column;
    align-items: center;
  }
  .lock_container_button{
    align-content: center;
  }
  .lock_button{
    margin-top: 32px;
  }
  .lock_austin{
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
  }
  .lock_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8A92A6;
  }
}