.position_bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 87px;
}
.position_bar .bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  border: 1px solid #E9ECEF;
}
.position_bar .bar .bar_left {
  display: flex;
  padding: 20px;
}
.position_bar .bar .bar_left .bar_logo {
  white-space: nowrap;
  display: flex;
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
}
.position_bar .bar .bar_left .bar_back {
  display: flex;
  justify-content: center;
  margin-left: 43px;
  transition: transform 2s linear;
}
.position_bar .bar .bar_left .bar_back .bar_btn {
  justify-content: center;
  margin-top: 5px;
  align-content: center;
  color: white;
  background-color: #3A57E8;
  border-radius: 33px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  rotate: 180deg;
}
.position_bar .bar .bar_left .bar_back .bar_btn .bar_allowed {
  align-content: center;
  color: white;
  text-align: center;
  margin-top: -3px;
}
.position_bar .bar .bar_left .bar_input_block {
  border: 1px solid #E9ECEF;
  border-radius: 4px;
  height: 36px;
  display: flex;
  margin-left: 22px;
}
.position_bar .bar .bar_left .bar_input_interior {
  align-content: center;
  padding: 0 20px;
}
.position_bar .bar .bar_left .bar_input_interior .bar_input_label {
  display: flex;
}
.position_bar .bar .bar_left .bar_input_interior .bar_input_label .bar_img {
  background: none;
}
.position_bar .bar .bar_left .bar_input_interior .bar_input_label .bar_input::placeholder {
  background: url("../images/Search.svg") no-repeat;
  background-size: auto 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ADB5BD;
}
.position_bar .bar .bar_right {
  padding: 20px;
  display: flex;
}
.position_bar .bar .bar_right .bar_right_content {
  display: flex;
}
.position_bar .bar .bar_right .bar_right_content .bar_language {
  width: 30px;
  height: 30px;
  margin: auto 16px auto 0;
}
.position_bar .bar .bar_right .bar_right_content .bar_Notification {
  margin: auto 16px auto 0;
}
.position_bar .bar .bar_right .bar_right_content .bar_Message {
  margin: auto 16px auto 0;
}
.position_bar .bar .bar_right .bar_right_content .bar_user_face {
  width: 45px;
  height: 45px;
  margin-right: 16px;
}
.position_bar .bar .bar_right .bar_right_content .bar_user_info .bar_user_name {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.position_bar .bar .bar_right .bar_right_content .bar_user_info .bar_user_job {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #8A92A6;
}

.menu_bar {
  display: flex;
  flex-direction: column;
  width: min-content;
  border: 1px solid black;
}

.border_white {
  border: 1px solid white;
  background-color: #8A92A6;
}

.menu-enter-active {
  z-index: -1;
  transition: all 0.8s ease-out;
}

.menu-leave-active {
  z-index: -1;
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.menu-enter-from,
.menu-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.bar_trans {
  display: flex;
  justify-content: center;
  margin-left: 43px;
  transition: transform 2s linear;
  transform: rotateY(180deg);
}
.bar_trans .bar_btn1 {
  justify-content: center;
  margin-bottom: 10px;
  align-content: center;
  color: white;
  background-color: #3A57E8;
  border-radius: 33px;
  width: 30px;
  height: 30px;
  font-size: 25px;
}
.bar_trans .bar_btn1 .bar_allowed {
  align-content: center;
  color: white;
  text-align: center;
  margin-top: -3px;
}

/*# sourceMappingURL=Main.css.map */
