

/* Large desktops and laptops */


@media (min-width: 1200px)  {
  .reg_print{
    width: 50%;
    background-image: url(../images/Authentication/reg_Graphic_Side.svg);
    background-size: cover;
  }
  .reg_input_form{
    display: flex;
    justify-content: space-between;
  }
  .reg_input{
    width: 48%;
  }
  .reg_place {
    width: 100%;
    background-color: white;


    background-image: url(../images/Authentication/reg_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .reg_print{
    width: 50%;
    background-image: url(../images/Authentication/reg_Graphic_Side.svg);
    background-size: cover;
  }
  .reg_place {
    width: 100%;
    background-color: white;


    background-image: url(../images/Authentication/reg_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .reg_place {
    width: 100%;
    background-color: white;
    padding-bottom: 20%;

    background-image: url(../images/Authentication/reg_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .reg_place {
    width: 100%;
    background-color: white;
    padding-bottom: 20%;

    background-image: url(../images/Authentication/reg_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .reg_place {
    width: 100%;
    background-color: white;
    padding-bottom: 20%;

    background-image: url(../images/Authentication/reg_Logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
  }
}