<!DOCTYPE html>
<html lang="" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title><%= htmlWebpackPlugin.options.title %></title>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body >

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <style>
      html{
          margin: 0;
          border: 0;
      }
      body{
          margin: 0;
      }
  </style>
</html>
