<template>
    <div class="Back">
      <div class="info_container">
        <p class="text">pdlawilvjalcj;dko</p>
      </div>
    </div>
</template>

<script>
export default {
  name: "Information-users"
}
</script>

<style scoped>
.info_container{
  background-image: url("../images/Authentication/Big Circles.svg");
  z-index: -1;

}
.text{
  font-size: 50px;
  padding: 200px 0;
}
.Back{


}
</style>