<template>
<div>
  <div class="position_bar">
    <div class="bar">
    <div class="bar_left">
      <div class="bar_logo">
        <img alt="logo" src="../images/Authentication/Logo.png">
        <p>Hope Ui</p>
      </div>
      <div class="bar_back" :class="{'bar_trans' : !this.menu}">
        <router-link to="" @click="menu = !this.menu" ><div class="bar_btn" :class="{'bar_btn1' : !this.menu}"><div class="bar_allowed">&#10132;</div></div></router-link>
      </div>
      <div class="bar_input_block">
        <div class="bar_input_interior" >
          <label class="bar_input_label">
            <input class="bar_input" :class="{'bar_img' : this.in}" v-model="this.in" placeholder="      Search...">
          </label>
        </div>
      </div>
    </div>
    <div class="bar_right">
      <div class="bar_right_content">
        <div class="bar_language"><img  alt="language" src="../images/Language.png"></div>
        <div class="bar_Notification"><img  alt="language" src="../images/Notification.png"></div>
        <div class="bar_Message"><img  alt="language" src="../images/Message.png"></div>
        <div class="bar_user_face"><img  alt="language" src="../images/User_face.png"></div>
        <div class="bar_user_info">
          <p class="bar_user_name">Austin Robertson</p>
          <p class="bar_user_job">Marketing Administrator</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div style="display: flex;">
    <transition name="menu">
      <div class="menu_bar" v-show="this.menu">
        <my-button @click="this.menu_ok = !this.menu_ok">Authentication  &#8595;</my-button>
        <div class="menu_bar_ok" v-show="this.menu_ok">
          <router-link  to="/Login-users"><my-button class="border_white">Login/Sign in</my-button></router-link>
          <router-link  to="/Register-users"><my-button class="border_white">Register</my-button></router-link>
          <router-link  to="/Lock-screen-users"><my-button class="border_white">Перейти</my-button></router-link>
        </div>
        <router-link @click="initialization" to="/maps-post"><my-button>Maps</my-button></router-link>
        <router-link to="/Information-users"><my-button>InformationUsers</my-button></router-link>
      </div>
    </transition>
    <transition name="turns">
      <router-view style="width: 100%;" :class="{'turn' : this.menu}"></router-view>
    </transition>
  </div>
</div>
</template>

<script>
import MyButton from "@/components/UI/My-button";
export default {
  name: "Main-page",
  components: { MyButton},
  data(){
    return{
      in: '',
      menu: false,
      menu_ok: false
    }
  },
  methods:{
    initialization() {

    }
  },
  watch:{

  }
}
</script>

<style scoped>
.turn{

}

</style>