<template>
  <div>
    <yandex-map
        :settings="settings"
        width="100%"
        height="500px"
    >
      <yandex-map-default-scheme-layer/>
    </yandex-map>
  </div>
</template>

<script>

import {
  YandexMap,
  YandexMapDefaultSchemeLayer,
} from 'vue-yandex-maps'

export default {
  name: "maps-post",
  components: {
    YandexMap,
    YandexMapDefaultSchemeLayer,
  },
  data() {
    return {
      settings: {
        location: {
          center: [37.617644, 55.755819],
          zoom: 9,
        },
      }
    }
  },
  mounted() {

  }
}
</script>

<style scoped>

</style>