<template class="app">
  <div id="app">
      <router-view></router-view>
  </div>
</template>

<script>



export default {
  name: 'App',
}
</script>

<style>

.app{
  margin: 0;
  border: 0;
}
</style>
