<template>
  <div class="my_input">
    <h6 class="header_input"><slot></slot></h6>
    <input class="style-input" :value="modelValue" @input="updateInput"/>
  </div>
</template>

<script>

export default {
  name: "my-input",
  props:{
    modelValue: [String, Number]
  },
  methods:{
    updateInput(event){
      this.$emit('update:modelValue', event.target.value)
    }
  }
}
</script >

<style scoped>


</style>